<h2>Products List</h2>
<ul class="products">
  <li *ngFor="let product of products"
      [class.selected]="product === selectedProduct"
      (click)="onSelect(product)">
    <span class="badge">{{product.id}}</span> {{product.name}}
  </li>
</ul>
<!--<product-detail [product]="selectedProduct"></product-detail>-->
<div *ngIf="selectedProduct">
  <h2>
    {{selectedProduct.name | uppercase}} is type of {{selectedProduct.name | uppercase}}
  </h2>
  <button (click)="gotoDetail()">View Details</button>
</div>
